.benefits {
	@media screen and (max-width: 1199px) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

.benefits-list {
	display: block;
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		margin-right: calc(-1 * var(--card-set-gap));
		margin-bottom: calc(-1 * var(--card-set-gap));
	}
	&__item {
		max-width: 450px;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		@media screen and (min-width: 768px) {
			flex-basis: calc(100% / 2 - var(--card-set-gap));
			margin-right: var(--card-set-gap);
			margin-bottom: var(--card-set-gap);
		}
		@media screen and (min-width: 1200px) {
			flex-basis: calc(100% / 4 - var(--card-set-gap));
		}
	}
	&__icons {
		padding-top: 25px;
		padding-bottom: 25px;
		margin-bottom: 30px;
		display: flex;
		background-color: var(--background-color-our-work);
		border-radius: 4px;
		justify-content: center;
		align-items: center;
	}
	&__title {
		text-align: center;
		font-size: 14px;
		line-height: 1.14;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	&__text {
		color: var(--header-contacts-list-color);

		line-height: 1.71;
	}
}
