.clients {
	&__title {
		@media screen and (max-width: 1199px) {
			font-size: 28px;
			line-height: calc(33 / 28);
		}
	}
}

.clients-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	@media screen and (min-width: 768px) {
		margin-right: calc(-1 * var(--card-set-gap));
	}

	margin-bottom: calc(-1 * var(--card-set-gap));
	&__item {
		flex-basis: calc(100% / 2 - var(--card-set-gap));
		margin-bottom: var(--card-set-gap);
		margin-right: var(--card-set-gap);
		&:nth-child(2n) {
			@media screen and (max-width: 767px) {
				margin-right: 0;
			}
		}

		@media screen and (min-width: 768px) {
			flex-basis: calc(100% / 3 - var(--card-set-gap));
		}
		@media screen and (min-width: 1200px) {
			flex-basis: calc(100% / 6 - var(--card-set-gap));
		}
	}

	&__card {
		display: flex;
		justify-content: center;
		align-items: center;

		height: 92px;
		border: 1px solid var(--social-links-color);
		border-radius: 4px;

		transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
		&:hover,
		&:focus {
			border: 1px solid var(--main-accent-color);
			& .clients-list__icon {
				fill: var(--main-accent-color);
			}
		}
	}
	&__icon {
		fill: var(--social-links-color);
		transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
}
