.footer {
	background-color: var(--background-color-hero);
	padding-top: 60px;
	padding-bottom: 60px;
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		@media screen and (min-width: 1200px) {
			flex-direction: row;
			align-items: baseline;
		}
	}
	&__left-and-socials {
		@media screen and (min-width: 768px) {
			display: flex;
			align-items: baseline;
			@media screen and (max-width: 1199px) {
				justify-content: space-around;

				width: 100%;
				margin-bottom: 60px;
			}
		}
	}
	&__left {
		@media screen and (min-width: 1200px) {
			margin-right: 70px;
		}
	}
	&__logo {
		margin-bottom: 20px;
		@media screen and (max-width: 1199px) {
			text-align: center;
		}
	}
}

.footer-adress-list {
	@media screen and (max-width: 1199px) {
		text-align: center;
		margin-bottom: 0px;
	}
	@media screen and (max-width: 767px) {
		text-align: center;
		margin-bottom: 60px;
	}
	&__item {
		color: var(--main-white-color);

		font-style: normal;
		line-height: 1.71;
		&:not(:last-child) {
			margin-bottom: 8px;
			@media screen and (min-width: 1200px) {
				margin-bottom: 9px;
			}
		}
		&--city {
			color: var(--main-white-color);
		}
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	&__link {
		color: var(--footer-address-link-color);
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		&:hover,
		&:focus {
			color: var(--main-accent-color);
		}
	}
}
.footer-socials {
	@media screen and (max-width: 1199px) {
		text-align: center;
		margin-bottom: 0px;
	}
	@media screen and (max-width: 767px) {
		text-align: center;
		margin-bottom: 60px;
	}
	&__title {
		@media screen and (max-width: 1199px) {
			text-align: center;
		}
		font-size: 14px;
		line-height: 1.14;
		text-transform: uppercase;
		color: var(--main-white-color);
		margin-bottom: 20px;
	}
}
.footer-socials-list {
	display: flex;
	&__item {
		display: flex;
		&:not(:last-child) {
			margin-right: 10px;
		}
	}
	&__link {
		width: 44px;
		height: 44px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(255, 255, 255, 0.1);
		border-radius: 50%;

		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		&:hover,
		&:focus {
			background-color: var(--main-accent-color);
		}
	}
	&__icon {
		fill: var(--main-white-color);
	}
}

.footer-form {
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		max-width: 450px;
	}
	@media screen and (max-width: 1199px) {
		width: 100%;
	}
	@media screen and (min-width: 1200px) {
		margin-left: auto;
	}
	&__text {
		@media screen and (max-width: 1199px) {
			text-align: center;
		}
		font-weight: 700;
		line-height: calc(16 / 14);
		text-transform: uppercase;
		color: var(--main-white-color);

		margin-bottom: 20px;
	}
	&__content {
		@media screen and (max-width: 1199px) {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
		}
		@media screen and (min-width: 1200px) {
			display: flex;
		}
	}
	&__email {
		width: 100%;
		@media screen and (max-width: 1199px) {
			margin-bottom: 20px;
		}
		@media screen and (min-width: 1200px) {
			width: 358px;
		}
		padding: 15px 16px;
		@media screen and (min-width: 1200px) {
			margin-right: 12px;
		}

		color: var(--footer-address-link-color);
		font-size: 16px;
		line-height: calc(20 / 16);
		background-color: inherit;

		border: 1px solid rgba(255, 255, 255, 0.3);

		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
		border-radius: 4px;
		&:focus {
			outline: none;
		}
		&::placeholder {
			color: var(--footer-address-link-color);
			font-size: 16px;
			line-height: calc(20 / 16);
		}
	}
	&__button {
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		width: 200px;
		height: 50px;

		background-color: var(--main-accent-color);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		border-radius: 4px;
		border: none;
	}
	&__button-text {
		color: var(--main-white-color);

		font-weight: 700;
		font-size: 16px;
		line-height: calc(30 / 16);
		letter-spacing: 0.06em;

		margin-right: 12px;
	}
	&__button-icon {
		display: block;
		padding: 0;
		margin: 0;
		width: 24px;
		height: 24px;
	}
}
