.header {
	border-bottom: 1px solid #ececec;
	&__container {
		@media screen and (max-width: 767px) {
			display: flex;
		}
	}
}
.header-body {
	display: flex;
	align-items: center;
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		justify-content: space-between;
	}
}
.header-nav {
	display: flex;
	align-items: center;
	@media screen and (max-width: 767px) {
		display: none;
	}
	&__logo {
		display: flex;
		align-items: center;
		height: 60px;
		@media screen and (min-width: 768px) {
			height: 80px;
		}
		@media screen and (min-width: 1200px) {
			margin-right: 93px;
			font-size: 26px;
			line-height: calc(31 / 26);
		}
	}
}

.header-nav-list {
	display: flex;

	&__item {
		font-weight: 500;
		line-height: 1.14;
		letter-spacing: 0.02em;

		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		&:not(:last-child) {
			margin-right: 50px;
		}
		&:hover,
		&:focus {
			color: var(--main-accent-color);
		}
	}
	&__link {
		padding-top: 32px;
		padding-bottom: 32px;
	}
	& .current {
		position: relative;
		color: var(--main-accent-color);
		&::after {
			position: absolute;
			bottom: -1px;
			left: 0;
			content: '';
			width: 100%;
			height: 4px;
			border-radius: 2px;
			background-color: var(--main-accent-color);
		}
	}
}

.header-contacts-list {
	display: block;
	@media screen and (max-width: 767px) {
		display: none;
	}
	@media screen and (min-width: 1200px) {
		display: flex;
		margin-left: auto;
	}

	&__link {
		display: flex;
		align-items: center;
		&:hover,
		&:focus {
			color: var(--main-accent-color);
			& .header-contacts-list__icon-envelope,
			& .header-contacts-list__icon-smartphone {
				fill: var(--main-accent-color);
			}
		}
	}
	&__icon-envelope,
	&__icon-smartphone {
		margin-right: 10px;
		transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	&__item {
		color: var(--header-contacts-list-color);

		font-weight: 500;
		line-height: 1.14;
		letter-spacing: 0.02em;

		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		&:not(:last-child) {
			@media screen and (min-width: 768px) and (max-width: 1199px) {
				margin-bottom: 10px;
			}
			@media screen and (min-width: 1200px) {
				margin-right: 30px;
			}
		}
	}
}
.mob-menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@media screen and (min-width: 768px) {
		display: none;
	}

	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	padding: 48px 40px;
	background-color: var(--main-white-color);
	width: 100vw;
	height: 100vh;
	transform: translateX(-100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&.is-open {
		transform: translateX(0%);
	}
	& .current {
		color: var(--main-accent-color);
	}
}
.mob-menu-header-list {
	font-weight: 500;
	font-size: 40px;
	line-height: calc(47 / 40);
	letter-spacing: 0.02em;

	color: #212121;
	&__item {
		&:hover,
		&:focus {
			color: var(--main-accent-color);
		}
		&:not(:last-child) {
			margin-bottom: 32px;
		}
	}
}
.mob-menu-footer-contacts {
	&__item {
		font-weight: 500;
		font-size: 24px;
		line-height: 28px;
		letter-spacing: 0.02em;

		color: var(--header-contacts-list-color);

		margin-bottom: 64px;
		&:first-child {
			font-size: 34px;
			line-height: calc(40 / 34);
			letter-spacing: 0.02em;

			color: var(--main-accent-color);

			margin-bottom: 32px;
		}
	}
}
.mob-menu-footer-socials {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -10px;

	font-weight: 500;
	font-size: 18px;
	line-height: calc(22 / 18);
	letter-spacing: 0.02em;

	color: var(--main-accent-color);
	&__item {
		margin-bottom: 10px;
		&:not(:last-child) {
			margin-right: 10px;
			&::after {
				content: '';
				width: 1px;
				height: 22px;
				border: 1px solid rgba(33, 33, 33, 0.2);

				margin-left: 10px;
			}
		}
	}
}
.mob-menu-open {
	@media screen and (min-width: 768px) {
		display: none;
	}
	margin-left: auto;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		fill: var(--main-accent-color);
	}
}
.mob-menu-close {
	position: absolute;
	top: 10px;
	right: 15px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		fill: var(--main-accent-color);
	}
}
