.header {
	border-bottom: 1px solid #ececec;
}
.header-body {
	display: flex;
	align-items: center;
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		justify-content: space-between;
	}
}
.header-nav {
	display: flex;
	align-items: center;
	&__logo {
		display: flex;
		align-items: center;
		height: 60px;
		@media screen and (min-width: 768px) {
			height: 80px;
		}
		@media screen and (min-width: 1200px) {
			margin-right: 93px;
			font-size: 26px;
			line-height: calc(31 / 26);
		}
	}
}

.header-nav-list {
	display: flex;
	@media screen and (max-width: 767px) {
		display: none;
	}
	&__item {
		font-weight: 500;
		line-height: 1.14;
		letter-spacing: 0.02em;

		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		&:not(:last-child) {
			margin-right: 50px;
		}
		&:hover,
		&:focus {
			color: var(--main-accent-color);
		}
	}
	&__link {
		padding-top: 32px;
		padding-bottom: 32px;
	}
	& .current {
		position: relative;
		color: var(--main-accent-color);
		&::after {
			position: absolute;
			bottom: -1px;
			left: 0;
			content: '';
			width: 100%;
			height: 4px;
			border-radius: 2px;
			background-color: var(--main-accent-color);
		}
	}
}

.header-contacts-list {
	display: block;
	@media screen and (max-width: 767px) {
		display: none;
	}
	@media screen and (min-width: 1200px) {
		display: flex;
		margin-left: auto;
	}

	&__link {
		display: flex;
		align-items: center;
		&:hover,
		&:focus {
			color: var(--main-accent-color);
			& .header-contacts-list__icon-envelope,
			& .header-contacts-list__icon-smartphone {
				fill: var(--main-accent-color);
			}
		}
	}
	&__icon-envelope,
	&__icon-smartphone {
		margin-right: 10px;
		transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	&__item {
		color: var(--header-contacts-list-color);

		font-weight: 500;
		line-height: 1.14;
		letter-spacing: 0.02em;

		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		&:not(:last-child) {
			@media screen and (min-width: 768px) and (max-width: 1199px) {
				margin-bottom: 10px;
			}
			@media screen and (min-width: 1200px) {
				margin-right: 30px;
			}
		}
	}
}
