.our-team {
	background-color: var(--background-color-our-work);
	&__title {
		margin-bottom: 50px;
	}
}

.our-team-list {
	display: flex;
	justify-content: space-between;
	&__card {
		background-color: var(--main-white-color);

		text-align: center;

		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
			0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
		border-radius: 0px 0px 4px 4px;
		&:not(:last-child) {
			margin-right: 30px;
		}
	}
	&__content {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	&__title {
		font-weight: 500;
		font-size: 16px;
		line-height: 1.19;

		margin-bottom: 10px;
	}
	&__text {
		color: var(--header-contacts-list-color);

		font-size: 16px;
		line-height: 1.19;

		margin-bottom: 16px;
	}
}
