.our-work {
	padding-top: 0;
	@media screen and (max-width: 1199px) {
		display: none;
	}
}
.our-work-list {
	display: flex;
	&__item:not(:last-child) {
		margin-right: 30px;
	}
	&__thumb {
		position: relative;
	}
	&__thumb-text {
		position: absolute;
		left: 0;
		bottom: 0;
		background-color: rgba(47, 48, 58, 0.8);

		font-weight: 700;
		line-height: calc(16 / 14);
		text-align: center;
		text-transform: uppercase;
		color: var(--main-white-color);

		width: 370px;
		padding-top: 27px;
		padding-bottom: 27px;
	}
}
