.socials {
	display: flex;
	align-items: center;
	justify-content: center;
	&__item {
		display: flex;
		&:not(:last-child) {
			margin-right: 10px;
		}
	}
	&__link {
		padding: 12px;
		width: 44px;
		height: 44px;
		fill: var(--social-links-color);
		border-radius: 50%;
		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		&:hover,
		&:focus {
			background-color: var(--main-accent-color);
		}
	}
	&__icon {
		fill: var(--social-links-color);
		transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
		.socials__link:hover &,
		.socials__link:focus & {
			fill: var(--main-white-color);
		}
	}
}
