:root {
	--main-accent-color: #2196f3;
	--logo-black-color: #000000;
	--main-black-color: #212121;
	--main-white-color: #ffffff;
	--social-links-color: #afb1b8;
	--header-contacts-list-color: #757575;
	--footer-address-link-color: rgba(255, 255, 255, 0.6);
	--background-color-hero: #2f303a;
	--backgroung-color-hero-button: #2196f3;
	--background-color-our-work: #f5f4fa;
	--card-set-gap: 30px;
	--card-border: #eeeeee;
}
